.content-pane {
    -fx-background-color: white;
    -fx-padding: 20;
}

.control-pane {
    -fx-alignment: top-left;
    -fx-padding: 15;
    -fx-spacing: 15;
    -fx-pref-width: 300;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 0 1;
}

.control-grid {
    -fx-hgap: 8;
    -fx-vgap: 10;
}

.title-label {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.tips-label {
    -fx-text-fill: #888;
    -fx-font-size: 12;
}

.value-label {
    -fx-min-width: 30;
}
