/*#text-poem .highlight{*/
/*    -fx-background-color: red;*/
/*    -fx-text-fill: white;*/
/*}*/
/*#text-poem .plain{*/
/*    -fx-fill:black;*/
/*}*/

#text-poem {
    -rx-highlight-fill:white;
    -rx-highlight-color:red;
    -rx-plain-fill:black;
}