#login-title{
    -fx-font-size: 36.0px;
    -fx-font-family: "Arial Black";
    -fx-fill: #8ec9f4;
    -fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
}
.label-field{
    -fx-font-size:20.0px;
    -fx-font-weight:bold;
    -fx-text-fill:#333333;
    -fx-effect:dropshadow(gaussian,rgba(255.0,255.0,255.0,0.5),0.0,0.0,0.0,1.0);
}

.field-side-button {
    -fx-padding: 2 7;
    -fx-font-size: 11px;
}
