.spectrum {
    -rx-crest-pos: DOUBLE;
}

.spectrum .bar-box {
    -fx-spacing: 0px;
}

.spectrum .bar-box .bar {
    -fx-min-height: 3px;
}

.data0, .data1, .data2, .data3, .data4, .data5, .data6, .data7 {
    -fx-background-color: #3faeea;
}

.data8, .data9, .data10, .data11, .data12, .data13, .data14, .data15 {
    -fx-background-color: #42adeb;
}

.data16, .data17, .data18, .data19, .data20, .data21, .data22, .data23 {
    -fx-background-color: #5ca1eb;
}

.data24, .data25, .data26, .data27, .data28, .data29, .data30, .data31 {
    -fx-background-color: #7795ec;
}

.data32, .data33, .data34, .data35, .data36, .data37, .data38, .data39 {
    -fx-background-color: #838eeb;
}

.data40, .data41, .data42, .data43, .data44, .data45, .data46, .data47 {
    -fx-background-color: #9985ec;
}

.data48, .data49, .data50, .data51, .data52, .data53, .data54, .data55 {
    -fx-background-color: #af7bed;
}

.data56, .data57, .data58, .data59, .data60, .data61, .data62, .data63 {
    -fx-background-color: #c96ee0;
}

.data64, .data65, .data66, .data67, .data68, .data69, .data70, .data71 {
    -fx-background-color: #cc6cd6;
}


.data72, .data73, .data74, .data75, .data76, .data77, .data78, .data79 {
    -fx-background-color: #d864b3;
}


.data80, .data81, .data82, .data83, .data84, .data85, .data86, .data87 {
    -fx-background-color: #d665b7;
}

.data88, .data89, .data90, .data91, .data92, .data93, .data94, .data95 {
    -fx-background-color: #de5f9f;
}

.data96, .data97, .data98, .data99, .data100, .data101, .data102, .data103 {
    -fx-background-color: #e45b8e;
}

.data104, .data105, .data106, .data107, .data108, .data109, .data110, .data111 {
    -fx-background-color: #e95881;
}


.data112, .data113, .data114, .data115, .data116, .data117, .data118, .data119 {
    -fx-background-color: #ee5573;
}

.data120, .data121, .data122, .data123, .data124, .data125, .data126, .data127 {
    -fx-background-color: #f4505f;
}
