.spectrum {
    -rx-crest-pos: middle;
}

.spectrum .bar-box {
    -fx-spacing: 2px;
    -fx-alignment: center;
}

.spectrum .bar-box .bar {
    -fx-background-color: #ffffff00;
    -fx-border-color: #9daaff;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-min-height: 1px;
}
