.control-pane .showcase-page-label {
    -fx-text-fill: #333333;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.control-pane .anim-button {
    -fx-padding: 3px 8px;
    -fx-background-radius: 3px;
}

.color-page-label {
    -fx-font-size: 36px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
