.rx-tile-view {
    -fx-padding: 12px;
}

.rx-tile-section-header {
    -fx-background-color: -rx-primary-bg;
    -fx-background-insets: 4 2;
    -fx-background-radius: 4;
    -fx-text-fill: -rx-on-surface;
}

.tile-placeholder {
    -fx-font-size: 16px;
    -fx-text-fill: -rx-on-surface-secondary;
}

.hint {
    -fx-font-size: 11px;
    -fx-text-fill: -rx-on-surface-secondary;
}
