.control-pane .check-box:selected .box {
    -fx-background-color: #1e90ff;
    -fx-border-color: #1e90ff;
}

.rx-wave-progress-indicator > .wave-container > .progress-label {
    -fx-font-size: 14px;
}

