.spectrum {
    -rx-bar-shape: "M21.1,42.5c0.8,0,1.4-0.6,1.4-1.4V6.9c0-0.8-0.6-1.4-1.4-1.4c-0.8,0-1.4,0.6-1.4,1.4v34.2C19.7,41.9,20.3,42.5,21.1,42.5z   M32.8,38.5c0.8,0,1.4-0.6,1.4-1.4V11c0-0.8-0.6-1.4-1.4-1.4c-0.8,0-1.4,0.6-1.4,1.4V37C31.3,37.8,32,38.5,32.8,38.5z M15.3,35.2  c0.8,0,1.4-0.6,1.4-1.4V14.2c0-0.8-0.6-1.4-1.4-1.4c-0.8,0-1.4,0.6-1.4,1.4v19.6C13.8,34.6,14.4,35.2,15.3,35.2z M26.9,33.1  c0.8,0,1.4-0.6,1.4-1.4V16.4c0-0.8-0.6-1.4-1.4-1.4c-0.8,0-1.4,0.6-1.4,1.4v15.3C25.5,32.4,26.1,33,26.9,33.1L26.9,33.1z M38.6,29.5  c0.8,0,1.4-0.6,1.4-1.4V20c0-0.8-0.6-1.4-1.4-1.4c-0.8,0-1.4,0.6-1.4,1.4c0,0,0,0,0,0V28C37.2,28.8,37.8,29.4,38.6,29.5  C38.6,29.5,38.6,29.5,38.6,29.5L38.6,29.5z M9.4,27.9c0.8,0,1.4-0.6,1.4-1.4v-4.9c0-0.8-0.6-1.4-1.4-1.4c-0.8,0-1.4,0.6-1.4,1.4v4.9  C8,27.2,8.6,27.9,9.4,27.9L9.4,27.9z";
}

.spectrum .bar-box {
    -fx-spacing: 1px;
    -fx-alignment: top_center;
}
